/* Import Open Iconic Bootstrap font */
@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* General styling for HTML and body */
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Styling for links and buttons with .btn-link class */
a, .btn-link {
    color: #0071c1;
}

/* Styling for primary buttons with .btn-primary class */
.btn-primary {
    color: #4472c4;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Padding for the .content class */
.content {
    padding-top: 4%;
}

/* Styling for valid form elements (not checkboxes) */
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

/* Styling for invalid form elements */
.invalid {
    outline: 1px solid red;
}

/* Styling for validation messages */
.validation-message {
    color: blueviolet;
}

/* Styling for Blazor error UI */
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* Styling for Blazor error boundary */
.blazor-error-boundary {
    background: url(data:image/svg+xml;base64, /* ... Base64 encoded SVG data ... */ ) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred.";
}

/* Styling for primary buttons with .btn class */
.btn.btn-primary {
    color: ghostwhite;
}

/* Styling for a form with class .PWform */
.PWform {
    max-width: 1400px;
    margin: auto;
    align-items: center;
}

/* Basic style for buttons */
.github-link,
.linkedin-link {
    display: inline-block;
    padding: 6px 14px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    margin-right: 10px;
}

/* Styling for GitHub buttons */
.github-link {
    background-color: #333; /* GitHub color (e.g., black) */
    color: #fff; /* Text color for GitHub link */
}

.github-link:hover {
    background-color: #000; /* Hover color - can be customized */
}

/* Styling for LinkedIn buttons */
.linkedin-link {
    background-color: #0077B5; /* LinkedIn color (blue) */
    color: #fff; /* Text color for LinkedIn link */
}

.linkedin-link:hover {
    background-color: #043955; /* Hover color - customized */
    color: #c7c3c3; /* Text color for LinkedIn link */
}

/* Arrange LinkedIn and GitHub buttons side by side in two rows */
.github-links,
.linkedin-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.github-links .github-link,
.linkedin-links .linkedin-link {
    margin: 5px; /* Adjust the margin between the buttons as desired */
}
