@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.ExtraSmall" CloseButton="true" DisableBackdropClick="false"
                   NoHeader="false" Position="DialogPosition.TopCenter" />

<PageTitle>WiFind</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>

        <div class="toast-footer px-4 mt-4 text-center">
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" a Href="https://github.com/Veaox"></MudIconButton>
            <a href="https://github.com/Veaox" target="_blank" class="btn btn-link text-decoration-none">
             Jimmy's GitHub
            </a>
            <span class="text-muted"> | </span>
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" a Href="https://github.com/Joseph004"></MudIconButton>
            <a href="https://github.com/Joseph004" target="_blank" class="btn btn-link text-decoration-none">
             Joseph's GitHub
            </a>
        </div>
        <div class="toast-footer px-4 mt-4 text-center">
            <a href="https://www.linkedin.com/in/jimmy-lindqvist-56462265/" target="_blank" class="btn btn-link text-decoration-none">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            <a href="https://www.linkedin.com/in/jimmy-lindqvist-56462265/" target="_blank" class="btn btn-link text-decoration-none">
                Jimmy's LinkedIn
            </a>
            <span class="text-muted"> | </span>
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" a Href="https://www.linkedin.com/in/joseph-luhandu-ab0769155/"></MudIconButton>
            <a href="https://www.linkedin.com/in/joseph-luhandu-ab0769155/" target="_blank" class="btn btn-link text-decoration-none">
                Joseph's LinkedIn
            </a>
        </div>
    </main>
</div>
