@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<MudPaper Height="400px" Width="100%"></MudPaper>
    <MudContainer MaxWidth="MaxWidth.Small">
        <MudPaper Height="400px" Width="100%" Square="true" Class="mud-theme-primary"></MudPaper>
    </MudContainer>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
