@page "/passwords"
<link rel="stylesheet" href="css/site.css"/>
<PageTitle>Passwords</PageTitle>

<MudGrid>
    <!-- Password Display -->
    <MudItem xs="12" sm="7">
        <MudCard>
            <MudCardContent>
                <h2>Passwords</h2>
                <!-- Iterate over the passwords and display them -->
                @foreach (var password in passwords)
                {
                    <div>
                        <strong>Location:</strong> @password.Location<br />
                        <strong>Where:</strong> @password.Where<br />
                        <strong>Name of WiFi:</strong> @password.WiFiName<br />
                        <strong>Password:</strong> @password.Password<br /><br />
                    </div>
                }
            </MudCardContent>
        </MudCard>
    </MudItem>

    <!-- Map Display -->
    <MudItem xs="12" sm="5">
        <MudCard>
            <MudCardContent>
                <h2>Wi-Fi Map</h2>
                <p>(Coming soon)</p>
                <!-- This is where we will add the Map component -->
                <div id="wifiMap">
                    <!-- Here goes the map -->
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

@code {
    // Passwords data
    List<PasswordModel> passwords = new List<PasswordModel>
    {
        new PasswordModel
        {
            Location = "Joe's Café",
            Where = "Ubud, Bali",
            WiFiName = "GetOffMyLan_5G",
            Password = "ChuckNorris123"
        },
        new PasswordModel
        {
            Location = "Joseph's Hangout",
            Where = "Orebro, Sweden",
            WiFiName = "Leech101_5G",
            Password = "PizzaPastaTonic"
        },
    };

    public class PasswordModel
    {
        public string Location { get; set; }
        public string Where { get; set; }
        public string WiFiName { get; set; }
        public string Password { get; set; }
    }
}
