<<<<<<< HEAD
﻿
@page "/Terms"

<PageTitle>Terms</PageTitle>
=======
﻿@page "/Terms"
>>>>>>> e7fa1160e73fe65d0a3f1e6f8cb3181146e1c9eb

<PageTitle>Terms of Conditions</PageTitle>

<style>
    /* Styles for background and color oftext */
    .page-container {
        background-image: linear-gradient(to bottom, #34495e, #2c3e50);
        color: #ecf0f1; 
        padding: 20px; 
        font-family: 'Roboto', sans-serif;
    }

    /* Center the text */
    .text-center {
        text-align: center;
    }

    /* Headings */
    h2 {
        color: #3498db;
        font-weight: bold;
        margin: 25px;
    }

    .N1{
        color: aqua;
    }
    h1 {
        font-weight: bold;
        margin: 25px;
        font-size: 60px;
    }

    /* Spacing between paragraph */
    p {
        margin-bottom: 25px;
        font-size: 19px;
    }
</style>

<div class="page-container text-center">
    <h1>Terms of Conditions</h1>

    <p>*Last Updated: [9/16/2023]*</p>

    <h2>1. User Accounts</h2>
    <p>
        When you create an account with us, you are responsible for providing accurate, complete, and current information. Failure to do so may result in the termination of your account.
    </p>

    <h2>2. User-Generated Content</h2>
    <p>
        The Service enables you to post, share, and make available various forms of content, including text, graphics, videos, or other material ("Content"). You are solely responsible for the Content you post on the Service, including its legality, accuracy, and appropriateness.
    </p>

    <h2>3. Privacy</h2>
    <p>
        Your use of the Service is governed by our Privacy Policy. Please review our Privacy Policy to understand how we collect, use, and disclose your information. The Privacy Policy is an integral part of these Terms.
    </p>

    <h2>4. Termination</h2>
    <p>
        We retain the right to terminate or suspend your account and access to the Service without prior notice, at our discretion, for any reason, including violation of these Terms.
    </p>

    <h2>5. Changes to Terms</h2>
    <p>
        We may modify or replace these Terms at any time at our sole discretion. Significant changes will be communicated with a notice period of at least 30 days. What constitutes a significant change will be determined by us.
    </p>
    <p>
        By continuing to use the Service after changes to the Terms have taken effect, you agree to be bound by the revised Terms. If you disagree with the revised Terms, please cease using the Service.
    </p>

    <h2>6. User Responsibility for Shared Passwords</h2>
    <p>
        By using the WiFind mobile application (the "Service"), you acknowledge and agree that you are fully responsible for the consequences of sharing Wi-Fi passwords through the Service. This includes but is not limited to:
    </p>
    <ul>
        <li>The accuracy and legitimacy of the shared Wi-Fi passwords.</li>
        <li>Compliance with any applicable laws, regulations, or policies related to sharing Wi-Fi passwords.</li>
        <li>Ensuring that you have the necessary permissions to share passwords for any given location.</li>
    </ul>
    <p>
        You understand and accept that sharing Wi-Fi passwords through the Service may have legal, security, or privacy implications, and you assume full responsibility for any such consequences.
    </p>
    <h3>
        Application created by <span class="N1">Jimmy Lindqvist</span> and <span class="N1">Joseph Arobas - Luhandu</span>
    </h3>
</div>

@code {

}
